<div class="post" id="{{ id }}">
    <label>
        <span class="subject">{{ subject }}</span>
        <a href="{{ contact }}"><span class="name">{{ name }}</span></a>
        <span class="password_hash">{{ password_hash }}</span>
        <span class="date">{{ date }}</span>
        <a href="../{{ thread_or_post }}/{{ id }}"><span class="id">#{{ id }}</span></a>
    </label>
    <div class="body">{{ body }}</div>
</div>
<hr>